<h1>Uptime Monitoring</h1>
<h2>Made Simple</h2>

<h3 class="blurb">free monitoring for http/https sites Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ipsum laboriosam recusandae
  quia assumenda, architecto veritatis qui aliquid deserunt, illum iure consequatur impedit amet in magni facilis accusantium
  quas tempore reprehenderit sequi, fuga quo. Eaque architecto ad labore repellat harum accusamus dolor eos, vero ex veniam
  explicabo omnis? Voluptate quos quis laboriosam pariatur expedita voluptatem aliquam atque iusto aliquid quaerat, reiciendis
  hic. Rem voluptates ex minima vel quasi dolorum perspiciatis illo cupiditate, beatae alias debitis iure repellat accusantium
  ducimus necessitatibus, provident dignissimos placeat voluptatibus quos! Quisquam placeat excepturi animi distinctio labore,
  delectus possimus eum nisi iusto tempora aspernatur? Impedit, nulla.</h3>

<div class="ctaWrapper">
  <a class="cta green" href="account/create">Get Started</a>
  <a class="cta blue" href="session/create">Login</a>
</div>